img{
    float: left;
}
body{
    background-color: aquamarine;
}
.absolute {
    position: absolute;
    top: 20px;
    right: 10px;
    left: 850px
}
.write{
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.rite{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}